# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/latest/config.html
[run]
omit =
    materniflow/docs/*
    materniflow/tests/*
    materniflow/_version.py
    materniflow/paths.py
    materniflow/ai_sdk_adapter.py
    materniflow/multi_round_bedrock_runtime_chat_manager.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.: